.TourDetails{
    text-align: center;
}

.TourDetails img {
    margin-left: 50px;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}