.footer{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    background-color: #454545;
}
a {
    color: #FF6000;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color : #FFA559;
}

.footer p{
    color: #FFE6C7;
    margin-top:30px ;
}